* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: var(--light-gray);
  font-family: 'Outfit', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 30em;

  background-color: var(--white);
  padding-bottom: 35px;
  border-radius: 15px;
  box-shadow: 0 2px 14px rgba(0,0,0,.1) ;;
  gap: 15px;
}

.img-container {
  margin: 15px;
  margin-bottom: 9px;

  border-radius: 10px;
}

.heading-container {
  color: var(--dark-blue);
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding: 0px 15px;
}

p{
  color: var(--grayish-blue);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 0px 30px ;
}

.attribution { 
  position: absolute;
  margin-bottom: 1rem;
  bottom: 0;

  font-size: 11px; 
  text-align: center;
 }

.attribution a { 
  color: hsl(228, 45%, 44%); 
}


